/* Add application styles & imports to this file! */
/* general */

body {
  min-height: 100%;
}

h2{
  color : #555;
  font-size: 2rem;
} 

/* font size  */
.large{
  font-size: large;
}
.x-large{
  font-size: x-large;
}

/* color  */
.vert{
  color: #2ebf91;
}
.violet{
  color: #6200EE;    
}
.violet:hover{
  color: #6200EE;    
}
.gris{
  color: rgb(125, 125, 125);
}

a{
  color: inherit;
  transition: 100ms ease-out;
}
a:hover  {
  text-decoration: none;
  color: inherit;
}


/* banniere */
.navbar{
  top: 0;
  position: sticky;
  background: linear-gradient(90deg, #2ebf91,#8360c3);
  width: 100%;
  z-index: 99;
}

/* banniere et menu des types  */
.nav li:hover a{
  /* text-decoration: none; */
  font-weight: bold;
  /* transform: scale(1.1);  */
}

.nav li:hover a:not(.active){
  border: transparent;
}

.col img.logo {
  width: 15rem;
}

.navbar img.logo {
  width: 16rem;
}

/* menu de gauche  */
.sidenav {
  background-color: #444444;
  padding-top: 2rem;
  height: 100%;
}

.sidenav p, .sidenav label{
  color: white;
}

.sidenav .active a{
  color: #9174c7;
  font-weight: bold;
}

.sidenav p:hover a,.sidenav label:hover a{
  text-decoration: none;
  font-weight: bold;
  transform: scale(1.1); 
}

#searchBar {
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 0.2rem solid #c7aff9;
  transform: translateY(-100%);
  transition: .2s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

#searchBar.sliderDown {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

/* menu de types  */
.nav-link.active {
  font-weight: bold;
  color: #6200EE !important;
}

/* vignettes  */
.vig img {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  max-height: 300px;
  min-height: 300px;
  border-radius: 0.25rem;
}

.vig {
  height: 100%;
  cursor: pointer;
  width: 15rem;
  transition: transform 200ms ease-in-out;
  box-shadow: 0.5rem 0.3rem 1rem rgba(0, 0, 0, 0.5);
}

.vig:hover{
  transform: scale(1.07); 
  border: solid 0.25rem #6200EE; 
}

/* footer  */
footer{
  height: 5rem;
  background-color: #555;
  color:  rgb(199, 199, 199);
}

footer li a:hover{
  color: white;
}


/* bouton  */
.btn-primary, .btn-primary:hover {
  background-color: #8360c3;
  border-color: #8360c3;
  border-radius: 2rem;
  transition: transform 200ms ease-in-out;
}

.btn-primary:hover {
  transform: scale(1.1);  
}

.btn_log, .btn_log:hover, .btn-primary:focus {   
  background-color: #6200EE;
}

.btn-ferme{
  color: rgb(84, 82, 82);
  margin-bottom: 1rem;
  margin-top: -1rem;
}

.btn_seconnecter, .btn_seconnecter:focus, .navbar-nav li a{
  padding: 0 1rem;
  border:0;
  color: white;
  outline: none;
  font-size: 1.2rem;
  background: transparent;
  transition: ease-out;
}

.btn_seconnecter:hover{
  /* transform: scale(1.1);  */
  font-weight: bold;
}

/* popup  */
.modal-content{
  background-color: #BD9FE7
}

/* mon compte  */

h3{
  font-size: 1.5rem;
  margin: 1.5rem;
}

td{
  padding: 0 !important;
}

.rounded-xl{
  border-radius: 1rem !important;
}

.notif{
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: 200ms ease-in-out;
}

.notif:hover.modal-content {
  background-color: #8360c3;
}

.notif:hover .gris{
  color: #444444;
}

.btn.vert:hover{
  color: #0479bd;
}
.info, .notifs {
  width: 75%;
  border: 0;
}

/* popup pour rechercher dans nos dossiers  */
.custom-file-input:lang(fr) ~ .custom-file-label::after {
  content: "Rechercher";
}

/* petit écran  */
@media screen and (max-width: 767px) {
  .sidenav {
    width: 100%;
    height: auto !important;
    position: relative !important;
  }
  .col {
    margin-left: 0;
  }
  .row{
    justify-content: center;
  }
  .navbar{
    position: initial !important;
  }
  .navbar .container-fluid{
    justify-content: center;
  }
  
}

@media screen and (max-width: 1300px) {
.info, .notifs  {
  width: 100% ;
}
}

.comm{  
  overflow: hidden;
  resize : none;
}

#recherche_rapide_bar{
  vertical-align: baseline;
}

#publier_ouvrage{

  max-height: 300px;
  min-height: 100px;
}