  <!-- banniere  -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="nav-link" href="index.html"><img src="img/logo_with_text-removebg-preview.png" class="logo" alt="logoReadingKingdom"></a>
    <ul class="nav navbar-nav navbar-right">
      <li> <button type="button" class="btn_seconnecter" data-toggle="modal" data-target="#modalLogIn"><i class="bi bi-box-arrow-in-right"></i> Se connecter
      </button></li>
      <li><a href="compte.html" class="btn_seconnecter"><i class="bi bi-person-circle"></i> Mon compte</a>
      </li>
    </ul>
  </div>
</nav>